:root {
	--background: #12013b;
	--text: #c1c4a9;
  }

.navbar {
    background:#0617b3;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: rgb(202, 161, 221);
}
.navbar-collapse {
    justify-content: flex-end;
}

.description {
    margin-top: 17%;
	position: relative;
	text-align: center;
    color:#c1c4a9;
}

.includebackground{
    background-color: #12013b;
}

.header{
    align-self:center;
    margin-left: 25%;
    font-size: xx-large;
    color:  #dddfd0;
    margin-top: 5%;
    margin-bottom: 2%;

}


.paragraph{
    color: #c1c4a9;
    font-size: large;
    text-align: center;
    align-items: center;
    
}